# ==========================================
# BESZEL HUB
# ==========================================

BESZEL_CONTAINER_NAME=beszel

# Puerto interno del servidor.
# No quedará expuesto públicamente.
BESZEL_PORT=8090

# URL pública que utilizarás con Caddy
BESZEL_APP_URL=https://monitor.tudominio.com

# ==========================================
# BESZEL AGENT
# ==========================================

BESZEL_AGENT_IMAGE=henrygd/beszel-agent:latest
BESZEL_AGENT_CONTAINER_NAME=beszel-agent

# El Agent se comunica localmente con el Hub
BESZEL_AGENT_HUB_URL=http://localhost:8090

# Estos dos valores se obtienen desde
# el panel de Beszel después del primer inicio
BESZEL_AGENT_TOKEN=
BESZEL_AGENT_KEY=
